@model AnnonsSystem.Models.Ads.AdPrenumerantDto

<h4>Ad</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="PrenumerantAdCreation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rubrik" class="control-label"></label>
                <input asp-for="Rubrik" class="form-control" />
                <span asp-validation-for="Rubrik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Innehall" class="control-label"></label>
                <input asp-for="Innehall" class="form-control" />
                <span asp-validation-for="Innehall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrisVara" class="control-label"></label>
                <input asp-for="PrisVara" class="form-control" />
                <span asp-validation-for="PrisVara" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrisAnnons" class="control-label"></label>
                <input asp-for="PrisAnnons" class="form-control" />
                <span asp-validation-for="PrisAnnons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

